ImportClipboard.json
[{"id":"ee20daaf.a4794","type":"mqtt-broker","z":"7e5ecc46.bedf0c","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"66d30063.9f16e","type":"mqtt in","z":"7e5ecc46.bedf0c","name":"","topic":"#","broker":"ee20daaf.a4794","x":68,"y":126,"wires":[["2a56aecc.16b482","8a005bdc.c23fe8"]]},{"id":"2a56aecc.16b482","type":"debug","z":"7e5ecc46.bedf0c","name":"Debug","active":false,"console":"false","complete":"payload","x":230,"y":200,"wires":[]},{"id":"6f352d2c.a61eec","type":"mqtt out","z":"7e5ecc46.bedf0c","name":"","topic":"nxeb52-drv/Production Order Data","qos":"2","retain":"false","broker":"ee20daaf.a4794","x":1078,"y":126,"wires":[]},{"id":"9da50b73.1b2838","type":"debug","z":"7e5ecc46.bedf0c","name":"Debug","active":false,"console":"false","complete":"payload","x":1030,"y":200,"wires":[]},{"id":"d7938749.4eebb","type":"comment","z":"7e5ecc46.bedf0c","name":"publish Azure messages to the local Broker","info":"","x":1108,"y":92,"wires":[]},{"id":"8a005bdc.c23fe8","type":"json","z":"7e5ecc46.bedf0c","name":"","x":208,"y":126,"wires":[["5d04d415.47f7fc"]]},{"id":"5d04d415.47f7fc","type":"function","z":"7e5ecc46.bedf0c","name":"+ MetaData","func":"//add sender into payload & stringify\nvar tmp = msg.topic;\ntmp = (tmp.split(\"/\"))[0];\nmsg.payload.sender = tmp;\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":348,"y":126,"wires":[["79914567.f46664"]]},{"id":"e199db24.b58be","type":"function","z":"7e5ecc46.bedf0c","name":"Bytes to String","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":818,"y":126,"wires":[["6f352d2c.a61eec","9da50b73.1b2838"]]},{"id":"79914567.f46664","type":"azureiothub","z":"7e5ecc46.bedf0c","name":"Azure IoT Hub","protocol":"mqtt","x":578,"y":126,"wires":[["e199db24.b58be"]]},{"id":"88e6ad41.ab042","type":"inject","z":"7e5ecc46.bedf0c","name":"","topic":"","payload":"\"online\"","payloadType":"str","repeat":"900","crontab":"","once":true,"x":370,"y":300,"wires":[["79914567.f46664"]]},{"id":"ef1cd213.e3564","type":"comment","z":"7e5ecc46.bedf0c","name":"Azure connection","info":"","x":578,"y":93,"wires":[]},{"id":"552f06ee.687a38","type":"comment","z":"7e5ecc46.bedf0c","name":"keep alive","info":"","x":359,"y":267,"wires":[]},{"id":"89d4cc0e.637a7","type":"comment","z":"7e5ecc46.bedf0c","name":"MQTT","info":"This is a MQTT client node.\nThe Client is connected to the local\nMQTT Broker(on the netIOT Edge Gateway).\nThe client node has a subscription for \nall local topics.\nIf a client publish a new message to the\nbroker, the client node gets this message.","x":68,"y":93,"wires":[]},{"id":"62f4cf2c.9961a","type":"comment","z":"7e5ecc46.bedf0c","name":"This flow connects the Azure cloud with the local plant","info":"","x":210,"y":40,"wires":[]}]